{% extends "login_homepage.html" %}
{% block title %}
    <title>About Us Page</title>
{% endblock title %}

{% block navigator %}
    <li><a href="/login_aboutus">About Us</a></li>
    <li>&gt</li>
{% endblock navigator %}

{% block body %}
    <p>We are students from HCMC University of Technology. Group 11 </p>
    <p>Our members:</p>
    <ul>
        <li>Khoi Nguyen Duc Minh. Email: <a href="mailto:ducminhkhoi@gmail.com">ducminhkhoi@gmail.com</a></li>
        <li>Tin Tran Tien. Email: <a href="mailto:phapli1991@gmail.com">phapli1991@gmail.com</a></li>
    </ul>
{% endblock body %}