{% extends "login_session.html" %}
{% block title %}
    <title>New Session Page</title>
{% endblock title %}

{% block navigator %}
    <li><a href="/login_course">Course({{ course_id }})</a></li>
    <li>&gt</li>
    <li><a href="/login_course/{{ course_id }}/session">Session</a></li>
    <li>&gt</li>
    <li><a href="/login_course/{{ course_id }}/session/new_session/">New Session</a></li>
    <li>&gt</li>
{% endblock navigator %}

{% block body %}
    <h3>Add Session:</h3>
    <form action="" method="post">{% csrf_token %}
        {{ add_session_form.as_p }}
        <input type="submit" value="Submit" />
    </form>
{% endblock body %}